#Data Collection/preparation part.

1.The population of each state.

2.Literacy Rate in each state

3.Area of each state

4.Collect any other data that helps with your analysis. There is no limitation for anything.

5.Create a new file and keep the above-collected data.

#source of data  -https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np

# Importing dataset

1.The population of each state.

In [3]:
Population=pd.read_csv("List of states and union territories of India by population 2011 census of india.csv")

Population

    sr.no                  State or Union Territory  Population]
0       1               Andaman and Nicobar Islands       380581
1       2                            Andhra Pradesh     49577103
2       3                         Arunachal Pradesh      1383727
3       4                                     Assam     31205576
4       5                                     Bihar    104099452
5       6                                Chandigarh      1055450
6       7                              Chhattisgarh     25545198
7       8  Dadra and Nagar Haveli and Daman and Diu       585764
8       9                                  Delhi UT     16787941
9      10                                       Goa      1458545
10     11                                   Gujarat     60439692
11     12                                   Haryana     25351462
12     13                          Himachal Pradesh      6864602
13     14                         Jammu and Kashmir     12267032
14     15                                 Jharkhand     32988134
15     16                                 Karnataka     61095297
16     17                                    Kerala     33406061
17     18                               Lakshadweep        64473
18     19                            Madhya Pradesh     72626809
19     20                               Maharashtra    112374333
20     21                                Manipur[c]      2570390
21     22                                 Meghalaya      2966889
22     23                                   Mizoram      1097206
23     24                                  Nagaland      1978502
24     25                                    Odisha     41974219
25     26                                Puducherry      1247953
26     27                                    Punjab     27743338
27     28                                 Rajasthan     68548437
28     29                                    Sikkim       610577
29     30                                Tamil Nadu     72147030
30     31                                   Tripura      3673917
31     32                             Uttar Pradesh    199812341
32     33                               Uttarakhand     10086292
33     34                               West Bengal     91276115

We observe that there are total 27 states and 7 union territories in india and highest populated state in india is Uttar Pradesh with population 199812341. as per 2011 census

2.Literacy Rate in each state

#SOURCE - https://www.findeasy.in/indian-states-by-literacy-rate/#State_Wise_Literacy_Rate_in_India

In [6]:
Literacy_rate=pd.read_csv("Literacy Rate in each state.csv")

Literacy_rate

,sr.no,State or Union Territory,Population],Literates,Literacy
0,1,Andaman and Nicobar Islands,380581,294281,86.63
1,2,Andhra Pradesh,49577103,50556760,67.02
2,3,Arunachal Pradesh,1383727,766005,65.38
3,4,Assam,31205576,19177977,72.19
4,5,Bihar,104099452,52504553,61.80
5,6,Chandigarh,1055450,805438,70.28
6,7,Chhattisgarh,25545198,15379922,86.05
7,8,Dadra and Nagar Haveli and Daman and Diu,585764,223230,81.24
8,9,Delhi UT,16787941,1342434,86.21
9,10,Goa,1458545,188406,88.70
10,11,Gujarat,60439692,12737767,78.03
11,12,Haryana,25351462,1165487,75.55
12,13,Himachal Pradesh,6864602,41093358,82.80
13,14,Jammu and Kashmir,12267032,16598988,67.16
14,15,Jharkhand,32988134,5039736,66.41
15,16,Karnataka,61095297,7067233,75.36
16,17,Kerala,33406061,18328069,94.00
17,18,Lakshadweep,64473,28135824,69.32
18,19,Madhya Pradesh,72626809,52553,82.34
19,20,Maharashtra,112374333,42851169,76.94
20,21,Manipur[c],2570390,81554290,74.43
21,22,Meghalaya,2966889,1908476,91.33
22,23,Mizoram,1097206,1785005,79.55
23,24,Nagaland,1978502,848175,91.33
24,25,Odisha,41974219,26742595,72.87
25,26,Puducherry,1247953,957309,85.85
26,27,Punjab,27743338,18707137,75.84
27,28,Rajasthan,68548437,38275282,66.11
28,29,Sikkim,610577,444952,81.42
29,30,Tamil Nadu,72147030,51837507,80.09
30,31,Tripura,3673917,2804783,87.22
31,32,Uttar Pradesh,199812341,114397555,78.82
32,33,Uttarakhand,10086292,6880953,67.68
33,34,West Bengal,91276115,61538281,76.36

WE observe that out of all states highest literacy rate in Kerala with 94.00%

3.Area of each state Area of each state.csv

#SOURCE -https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area

In [5]:
Area=pd.read_csv("Area of each state.csv")

Area

,sr.no,State or Union Territory,Area (km2),National share (%)
0,1,Andaman and Nicobar Islands,8249,0.251
1,2,Andhra Pradesh,162975,4.957
2,3,Arunachal Pradesh,83743,2.548
3,4,Assam,78438,2.386
4,5,Bihar,94163,2.864
5,6,Chandigarh,114,0.003
6,7,Chhattisgarh,135192,4.112
7,8,Dadra and Nagar Haveli and Daman and Diu,603,0.018
8,9,Delhi UT,16579,0.505
9,10,Goa,1484,0.045
10,11,Gujarat,3702,0.112
11,12,Haryana,196024,5.962
12,13,Himachal Pradesh,44212,1.344
13,14,Jammu and Kashmir,55673,1.693
14,15,Jharkhand,42241,1.285
15,16,Karnataka,79716,2.424
16,17,Kerala,191791,5.833
17,18,Lakshadweep,59146,1.800
18,19,Madhya Pradesh,32,0.001
19,20,Maharashtra,308252,9.376
20,21,Manipur[c],307713,9.359
21,22,Meghalaya,22327,0.680
22,23,Mizoram,22429,0.682
23,24,Nagaland,21081,0.642
24,25,Odisha,155707,4.736
25,26,Puducherry,479,0.015
26,27,Punjab,50362,1.531
27,28,Rajasthan,342239,10.414
28,29,Sikkim,7096,0.217
29,30,Tamil Nadu,130058,3.956
30,31,Tripura,10491,0.320
31,32,Uttar Pradesh,240928,7.328
32,33,Uttarakhand,53483,1.626
33,34,West Bengal,88752,2.700

In [ ]:
We observe that rajasthan state is at bigest state in area with 342239 km2

4.Collect any other data that helps with your analysis. There is no limitation for anything.

5.Create a new file and keep the above-collected data.

Sourse-https://en.wikipedia.org/wiki

In [4]:
Population_literacy_area=pd.read_csv("List of states and union territories of India by population,literacy and area.csv")

Population_literacy_area

,sr.no,State or Union Territory,Population],Literates,Literacy,Area (km2),National share (%)
0,1,Andaman and Nicobar Islands,380581,294281,86.63,8249,0.251
1,2,Andhra Pradesh,49577103,50556760,67.02,162975,4.957
2,3,Arunachal Pradesh,1383727,766005,65.38,83743,2.548
3,4,Assam,31205576,19177977,72.19,78438,2.386
4,5,Bihar,104099452,52504553,61.80,94163,2.864
5,6,Chandigarh,1055450,805438,70.28,114,0.003
6,7,Chhattisgarh,25545198,15379922,86.05,135192,4.112
7,8,Dadra and Nagar Haveli and Daman and Diu,585764,223230,81.24,603,0.018
8,9,Delhi UT,16787941,1342434,86.21,16579,0.505
9,10,Goa,1458545,188406,88.70,1484,0.045
10,11,Gujarat,60439692,12737767,78.03,3702,0.112
11,12,Haryana,25351462,1165487,75.55,196024,5.962
12,13,Himachal Pradesh,6864602,41093358,82.80,44212,1.344
13,14,Jammu and Kashmir,12267032,16598988,67.16,55673,1.693
14,15,Jharkhand,32988134,5039736,66.41,42241,1.285
15,16,Karnataka,61095297,7067233,75.36,79716,2.424
16,17,Kerala,33406061,18328069,94.00,191791,5.833
17,18,Lakshadweep,64473,28135824,69.32,59146,1.800
18,19,Madhya Pradesh,72626809,52553,82.34,32,0.001
19,20,Maharashtra,112374333,42851169,76.94,308252,9.376
20,21,Manipur[c],2570390,81554290,74.43,307713,9.359
21,22,Meghalaya,2966889,1908476,91.33,22327,0.680
22,23,Mizoram,1097206,1785005,79.55,22429,0.682
23,24,Nagaland,1978502,848175,91.33,21081,0.642
24,25,Odisha,41974219,26742595,72.87,155707,4.736
25,26,Puducherry,1247953,957309,85.85,479,0.015
26,27,Punjab,27743338,18707137,75.84,50362,1.531
27,28,Rajasthan,68548437,38275282,66.11,342239,10.414
28,29,Sikkim,610577,444952,81.42,7096,0.217
29,30,Tamil Nadu,72147030,51837507,80.09,130058,3.956
30,31,Tripura,3673917,2804783,87.22,10491,0.320
31,32,Uttar Pradesh,199812341,114397555,78.82,240928,7.328
32,33,Uttarakhand,10086292,6880953,67.68,53483,1.626
33,34,West Bengal,91276115,61538281,76.36,88752,2.700

#source https://en.wikipedia.org/wiki and India_Crime - Copy.zip

crime type and total crime with population and literacy rate from 2001 to 2012

In [8]:
Crime_rate=pd.read_csv("different type of crime rate statewise with literacy and population from 2001 to 2011.csv")

Crime_rate

,sr.no,State or Union Territory,Population],Population,Literates,Literacy,Area (km2),National share (%),Sum of MURDER,Sum of ATTEMPT TO MURDER,...,Sum of ARSON,Sum of HURT/GREVIOUS HURT,Sum of DOWRY DEATHS,Sum of ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,Sum of INSULT TO MODESTY OF WOMEN,Sum of CRUELTY BY HUSBAND OR HIS RELATIVES,Sum of IMPORTATION OF GIRLS FROM FOREIGN COUNTRIES,Sum of CAUSING DEATH BY NEGLIGENCE,Sum of OTHER IPC CRIMES,Sum of TOTAL IPC CRIMES
0,1,Andaman and Nicobar Islands,380581,380581,294281,86.63%,8249,0.251,320,130,...,196,2210,12,428,86,242,0.0,84.0,8886.0,18204.0
1,2,Andhra Pradesh,49577103,84580777,50556760,67.02%,162975,4.957,63512,44840,...,23936,1093130,12430,103998,72262,238014,34.0,276870.0,964504.0,4037962.0
2,3,Arunachal Pradesh,1383727,1383727,766005,65.38%,83743,2.548,1682,834,...,500,10314,4,1568,36,334,0.0,1490.0,14792.0,55304.0
3,4,Assam,31205576,31205576,19177977,72.19%,78438,2.386,30864,11324,...,15836,138366,2552,27240,224,78776,16.0,60410.0,362708.0,1195528.0
4,5,Bihar,104099452,104099452,52504553,61.80%,94163,2.864,82490,81838,...,17018,378532,27096,15152,452,51360,880.0,88884.0,1077182.0,2692586.0
5,6,Chandigarh,1055450,1055450,805438,86.05%,114,0.003,486,602,...,124,1632,84,628,286,1614,0.0,196.0,23210.0,81614.0
6,7,Chhattisgarh,25545198,25545198,15379922,70.28%,135192,4.112,24120,15820,...,6294,170052,2284,38330,3450,19146,10.0,50864.0,491710.0,1122054.0
7,8,Dadra and Nagar Haveli and Daman and Diu,585764,343709,223230,76.24%,603,0.018,352,138,...,178,1016,8,130,12,146,0.0,918.0,5040.0,15198.0
8,9,Delhi UT,16787941,1978502,1342434,79.55%,16579,0.505,12410,10554,...,1128,44420,3164,15068,3374,30422,2.0,15006.0,474914.0,1266348.0
9,10,Goa,1458545,243247,188406,87.10%,1484,0.045,974,538,...,544,4574,38,656,246,382,NaN,NaN,NaN,NaN
10,11,Gujarat,60439692,16787941,12737767,86.21%,3702,0.112,27550,12224,...,11294,270436,1004,17996,2730,118862,0.0,108770.0,1459368.0,2771550.0
11,12,Haryana,25351462,1458545,1165487,88.70%,196024,5.962,20942,14868,...,3812,102508,6260,10646,16376,54224,0.0,30394.0,449688.0,1190606.0
12,13,Himachal Pradesh,6864602,60439692,41093358,78.03%,44212,1.344,2908,1670,...,2968,31818,110,7194,878,6490,0.0,12618.0,174356.0,309896.0
13,14,Jammu and Kashmir,12267032,25351462,16598988,75.55%,55673,1.693,12608,20606,...,6332,7766,270,23018,7986,3600,0.0,9048.0,265842.0,518310.0
14,15,Jharkhand,32988134,6864602,5039736,82.80%,42241,1.285,38120,24540,...,4024,80474,6582,7970,494,16818,290.0,27224.0,308478.0,844702.0
15,16,Karnataka,61095297,12541302,7067233,67.16%,79716,2.424,39874,37024,...,7422,502664,5836,47398,1662,60104,94.0,10156.0,1362672.0,2962126.0
16,17,Kerala,33406061,32988134,18328069,66.41%,191791,5.833,9466,10654,...,11160,464902,602,62980,6608,92148,0.0,978.0,1659766.0,2874918.0
17,18,Lakshadweep,64473,33406061,28135824,94.00%,59146,1.800,6,12,...,44,114,0,10,0,14,0.0,0.0,654.0,1486.0
18,19,Madhya Pradesh,72626809,64473,52553,91.85%,32,0.001,56798,58916,...,20708,825154,18072,159756,18634,79938,120.0,129938.0,2393164.0,4827540.0
19,20,Maharashtra,112374333,72626809,42851169,69.32%,308252,9.376,65534,41178,...,29030,707520,8498,78438,24220,160726,4.0,269226.0,1120120.0,4546872.0
20,21,Manipur[c],2570390,112374333,81554290,82.34%,307713,9.359,3910,7072,...,1904,6866,4,1008,6,438,0.0,174.0,25474.0,70144.0
21,22,Meghalaya,2966889,2855794,1908476,76.94%,22327,0.680,3460,1202,...,886,3472,30,1064,16,330,8.0,1364.0,12528.0,50498.0
22,23,Mizoram,1097206,2966889,1785005,74.43%,22429,0.682,806,516,...,534,2432,8,1632,12,108,6.0,630.0,11824.0,52292.0
23,24,Nagaland,1978502,1097206,848175,91.33%,21081,0.642,2076,928,...,140,1064,0,192,20,18,2.0,744.0,6100.0,26266.0
24,25,Odisha,41974219,41974218,26742595,72.87%,155707,4.736,28906,31304,...,10560,151522,9110,59892,5878,37394,36.0,73014.0,492412.0,1295892.0
25,26,Puducherry,1247953,1247953,957309,85.85%,479,0.015,714,686,...,380,21388,52,1226,568,210,0.0,5204.0,54980.0,108232.0
26,27,Punjab,27743338,27743338,18707137,75.84%,50362,1.531,18986,20794,...,1814,113840,3092,8094,1524,23996,4.0,66678.0,232054.0,768262.0
27,28,Rajasthan,68548437,68548437,38275282,66.11%,342239,10.414,31688,42684,...,16624,534706,10132,61706,708,200202,12.0,156700.0,1569982.0,3711832.0
28,29,Sikkim,610577,610577,444952,81.42%,7096,0.217,332,222,...,160,1878,4,460,28,88,0.0,844.0,4074.0,14000.0
29,30,Tamil Nadu,72147030,72147030,51837507,80.09%,130058,3.956,40254,53194,...,16298,561346,4634,38658,20086,36376,30.0,280386.0,2372230.0,4120352.0
30,31,Tripura,3673917,3673917,2804783,87.22%,10491,0.320,4044,1362,...,1096,18612,628,5546,78,13028,0.0,3084.0,28088.0,105468.0
31,32,Uttar Pradesh,199812341,199812341,114397555,67.68%,240928,7.328,130886,121040,...,9108,279500,47648,59396,53022,155234,6.0,227642.0,1253898.0,3716148.0
32,33,Uttarakhand,10086292,10086292,6880953,78.82%,53483,1.626,5896,5254,...,628,21220,1812,3090,3038,8284,2.0,13360.0,52676.0,206408.0
33,34,West Bengal,91276115,91276115,61538281,76.26%,88752,2.700,42112,29386,...,4728,188304,10344,45742,3108,261336,228.0,75502.0,852388.0,2238608.0